@using BLKBOX_MVP.Data
@model BLKBOX_MVP.Models.BeginWorkoutViewModel
@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <p>@Model.Workout.WorkoutName</p>
    <p>@Model.Workout.WorkoutDescription</p>
</div>