@{
    ViewData["Title"] = "Holding";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@DateTime.Now</h2>
<br/>
<input type="button" value="TRY A WORKOUT" onclick="location.href='@Url.Action("Workouts", "Home")'" />
