@using BLKBOX_MVP.Data
@model BLKBOX_MVP.Models.WorkoutsViewModel
@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <h2>Workouts</h2>

    @foreach(Workout workout in Model.Workouts)
    {
        <a href="@Url.Action("BeginWorkout", "Home", new { workoutID = workout.WorkoutID } )">
            <div>
                <p>@workout.WorkoutName</p>
                <p>@workout.WorkoutDescription</p>
            </div>
        </a>
        <hr/>
    }
</div>